<!DOCTYPE html>
<html style="background: #eee;color: #666;">

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <title>{{cloudname}}</title>
    <link href=/static/css/app.css rel=stylesheet>
</head>

<body>
    <div id=app></div>
    <script type=text/javascript src=/static/js/manifest.js></script>
    <script type=text/javascript src=/static/js/vendor.js></script>
    <script type=text/javascript src=/static/js/app.js></script>
    <script type=text/javascript  src="/static/js/jquery-3.6.0.js"></script>
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/static/css/metroStyle.css">
    <script type=text/javascript  src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ztree.exedit.js"></script>
</body>

</html>